.text-description {
  font-size: 0.7rem;
}

.green-lemon-color {
  color: #daff01;
}

.lilac-color {
  background-color: #9353ff;
}

.text-position {
  top: 40%;
}

@media (max-width: 767px) {
  .text-position {
    top: 60%;
  }
}


